div#inst1 {
    display: none;
}

div#inst5 {
   /* display: none;*/
}

div#inst19 {
   /* display: none;*/
    visibility: hidden;
}
div#inst20 {
    /*display: none;*/
    visibility: hidden;
}

div#inst22 {
    display: none;
}


div#inst23 {
    /*display: none;*/
    visibility: hidden;
}


div#inst24 {
    /*display: none;*/
    visibility: hidden;
}


div#inst26 {
    display: none;
}

.span2.item-curso {
   width: 187px;
   height: 204px;
}


.button-matricular {
    background-color: #F97D6D;
    color: white;
    cursor: pointer;
    float: right;
    padding: 6px 15px;
    border-radius: 3px;
}
.button-matricular:hover {
    background-color: #C86357;
}

.button-matricular.button2 {
    margin-top: 20px;
}
.course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
display: none;
}


.tree_item2 {
    /* background-color: red; */
    background-color: #F7C2BB;
    /*background-color: #F97D6D;*/
    margin-bottom: 4px;
    border-bottom-color: white;
    border-bottom: 30px;
    height: 35px;
    /* color: #F97D6D; */
    padding-top: 15px;
    margin-left: -17px;
    padding-left: 20px;
}
.tree_item2 > a {
    color: #C86357;
    /*color: white;*/
}




/*li.type_system.depth_2.contains_branch >p {
    display: none;
}
p#expandable_branch_0_mycourses {
    display: block;
}
*/
